body{
    
    margin:0 auto;
    padding:10px;
    width:1000px;
}
h2{
    font-size:12px;
}
input[type="radio"]{
    display:none;
}
.container{
    margin: 0 auto;
   max-width: 700px;
 
 }


#img__slider{
   margin:0 auto;
    margin-bottom: 0.5rem;
      width: 100%;
  height: 100%;
   border:2px solid #000080;
 
   border-radius:0.5rem;
   display:flex;
   position: relative;
}


#img__slides {
    padding:10px;
    position:relative;
                z-index:2;

    }

    #img__overflow{
    width:100%;
    overflow: hidden;
    }

    #dot1:checked ~ #img__slides .img__inner{
        margin-left: 0;
        }

    #dot2:checked ~ #img__slides .img__inner{
        margin-left: -100%;
        }
        #dot3:checked ~ #img__slides .img__inner{
        margin-left: -200%;
        }
        #dot4:checked ~ #img__slides .img__inner{
        margin-left: -300%;
        }


        #img__slides .img__inner{
        transition: margin-left 600ms cubic-bezier(0.500, 0.000, 0.175, 1.000);
            width:400%;
            
            }
            #img__slides .imgslide{
                width:25%;
                float:left;
                display: block;
                height:50%;
                color:#F2F7F2;
                
            }
          .img__content{
              margin:10px auto 0px;
                width:90%; 
               
            }

.img__content img{
    width:100%;
}

.slide__content{
    font-size: 1,5rem;
    color:#8E5572;
    margin-top: 1rem;
    font-family: 'Montserrat',serif;
  font-weight: 400;

}
            



.slide__content{
    padding-top: 30px;
    
}

#bullets{

display:flex;
align-items: flex-end;
z-index: 1;
padding-bottom: 10px;
}

#bullets label{
    content:"";
    display:inline-block;
    width:17px;
height:17px;
border:1px solid #000080;
border-radius: 50%;
cursor:pointer;
margin:0 10px;

}
#bullets label:hover{
    background-color:#8E5572;
    transition: all 1s ease;
}


#dot1:checked ~ #bullets label:nth-child(1),
#dot2:checked ~ #bullets label:nth-child(2),
#dot3:checked ~ #bullets label:nth-child(3),
#dot4:checked ~ #bullets label:nth-child(4){
    background-color:#000080;
    transition: all 1.5s ease;
}









