body{
    max-width: 1400px;
}
.container{
    display: flex;
    flex-direction: column;
}
#img__slider{
    margin-left:30vw;
    margin-right: 30vw;
    margin-bottom: 10%;
    width:900px;
    max-width: 50%;
    text-align: left;
    border:2px solid #000080;
display:flex;
}

#img__slides {
    padding:10px;
    position:relative;
    z-index:1;
    }

    #img__overflow{
        width:100%;
        height:300px;
        overflow: hidden;
    }

    #dot1:checked ~ #img__slides .img__inner{
        margin-left: 0;
        }

    #dot2:checked ~ #img__slides .img__inner{
        margin-left: -100%;
        }
        #dot3:checked ~ #img__slides .img__inner{
        margin-left: -200%;
        }
        #dot4:checked ~ #img__slides .img__inner{
        margin-left: -300%;
        }


        #img__slides .img__inner{
            transition: margin-left 600ms cubic-bezier(0.500, 0.000, 0.175, 1.000);
            width:400%;
            height:500px;
            }
            #img__slides .imgslide{
                width:25%;
                float:left;
                display: block;
                height:50%;
                color:#F2F7F2;
            }
            #img__slides .img__content{
                width:100%;
    height:100%;
            }


            

#slider{
    margin-left:30vw;
    margin-right: 30vw;
    margin-bottom: 10%;
    width:900px;
    max-width: 50%;
    text-align: left;
    border:2px solid #000080;
display:flex;
}

#slider input[type="radio"]{
    display:none;
}

#slider label{
    cursor: pointer;
    text-decoration: none;
}

#slides {
padding:10px;
position:relative;
z-index:1;
}

#overflow{
    width:100%;
    overflow: hidden;
}

#dot1:checked ~ #slides .inner{
margin-left: 0;
}
#dot2:checked ~ #slides .inner{
    margin-left: -100%;
}
#dot3:checked ~ #slides .inner{
margin-left: -200%;
}
#dot4:checked ~ #slides .inner{
margin-left: -300%;
}

#slides .inner {
transition: margin-left 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
width:400%;
line-height:0;
height:100px;
}

#slides .slide{
    width:25%;
    float:left;
    display: block;
    height:100%;
    color:#F2F7F2;
}

#slides .slide_1{
    background:#8E5572;
}
#slides .slide_2{
    background:#BCAA99;
}
#slides .slide_3{
    background:#C2B97F
}
#slides .slide_4{
    background:#88665D;
}
.slide__content{
    padding: 5px;
}

#bullets{
 padding:50px;
 padding-left: 70px;
 width:500px;
}

#bullets label{
    content:"";
    display:inline-block;
    width:17px;
height:17px;
border:1px solid #000080;
border-radius: 50%;
cursor:pointer;
margin:0 10px;

}
#bullets label:hover{
    background-color:#8E5572;
    transition: all 1s ease;
}

#dot1:checked ~ #bullets label:nth-child(1),
#dot2:checked ~ #bullets label:nth-child(2),
#dot3:checked ~ #bullets label:nth-child(3),
#dot4:checked ~ #bullets label:nth-child(4){
    background-color:#C2B97F;
    transition: all 1.5s ease;
}









